<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <script src="js/angular.min.js"></script>
        <style>
            body {
                font-family: Arial, sans-serif;
            }
            table, th , td {
                border: 1px solid grey;
                border-collapse: collapse;
                padding: 5px;
            }
            table tr:nth-child(odd) {
                background-color: #f1f1f1;
            }
            table tr:nth-child(even) {
                background-color: #ffffff;
            }
            .sortorder:after {
                content: '\25b2';
            }
            .sortorder.reverse:after {
                content: '\25bc';
            }
        </style>
        <script>
            var app = angular.module('myApp', [
            ]);

            app.directive('fileModel', ['$parse', function ($parse) {
                    return {
                        restrict: 'A',
                        link: function (scope, element, attrs) {
                            var model = $parse(attrs.fileModel);
                            var modelSetter = model.assign;

                            element.bind('change', function () {
                                scope.$apply(function () {
                                    modelSetter(scope, element[0].files[0]);
                                });
                            });
                        }
                    };
                }]);


            app.controller('customersCtrl', function ($scope, $http, $filter) {

                $scope.uploadStatus = "";

                $scope.uploadFile = function () {
                    var file = $scope.myFile;
                    var url = '/uploadcsv';

                    var fd = new FormData();
                    fd.append('file', file);

                    $http.post(url, fd, {
                        transformRequest: angular.identity,
                        headers: {'Content-Type': undefined}
                    })
                            .success(function () {
                                $scope.uploadStatus = "Success";
                                loadWebsiteData();
                            })
                            .error(function () {
                                $scope.uploadStatus = "Fail";
                            });
                };

                $scope.loadWebsiteData = function () {
                    var date = $scope.date;
                    date = $filter('date')(date, 'yyyy-MM-dd');

                    $http.get("/list", {params: {"date": date}})
                            .then(function (response) {
                                $scope.data = response.data.records;
                            });
                };
                $scope.loadWebsiteData(); // first load

                $scope.propertyName = 'visits';
                $scope.reverse = true;

                $scope.sortBy = function (propertyName) {
                    $scope.reverse = ($scope.propertyName === propertyName) ? !$scope.reverse : false;
                    $scope.propertyName = propertyName;
                };

                //$scope.date = new Date();
                $scope.file = null;
            });


        </script>
    </head>
    <body>
        <div ng-app="myApp" ng-controller="customersCtrl"> 
            <div>
                <form>
                    <input type="file" file-model="myFile">
                    <button ng-click="uploadFile()">Upload</button>
                    <label ng-bind="uploadStatus"></label>
                </form>
            </div>

            <br/>
            <div>
                <form>
                    <input type="date" name="date" ng-model="date" placeholder="yyyy-MM-dd" >
                    <button ng-click="loadWebsiteData()">Refresh</button>
                </form>
            </div>
            <br/>
            <table>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        <button ng-click="sortBy('name')">Site</button>
                        <span class="sortorder" ng-show="propertyName === 'name'" ng-class="{
                                    reverse: reverse
                                }"></span>
                    </th>
                    <th>
                        <button ng-click="sortBy('date')">Date</button>
                        <span class="sortorder" ng-show="propertyName === 'date'" ng-class="{
                                    reverse: reverse}"></span>
                    </th>
                    <th>
                        <button ng-click="sortBy('visits')">Visits</button>
                        <span class="sortorder" ng-show="propertyName === 'visits'" ng-class="{
                                    reverse: reverse}"></span>
                    </th>
                </tr>
                <tr ng-repeat="x in data| orderBy : propertyName : reverse">
                    <td>{{ $index + 1}}</td>
                    <td>{{ x.name}}</td>
                    <td>{{ x.date}}</td>
                    <!--<td>{{ x.date | date:'yyyy-MM-dd'}}</td>-->
                    <td>{{ x.visits}}</td>
                </tr>
            </table>

        </div>
    </body>
</html>
